@tailwind base;
@tailwind components;
@tailwind utilities;

.main .content::-webkit-scrollbar {
  width: 3px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgb(51 65 85);
}
